extends layout

block head_scripts
  script(src='/javascripts/index.js',type="text/javascript")

block content
  center(style="margin-top:100px")
    .login
      h3.loginheading Insider File Upload Application
      form(action="/",method='POST',enctype="multipart/form-data")
        .form-group.nameInput.has-feedback(style="margin-top:20px")
          input.path(type='file', name='imagePath')
        .form-group.nameInput.has-feedback(style="margin-top:20px")  	
          input.submit(type='submit', value='Upload')